{% extends "layout.html" %}

{% block body %}
    <H1>Threads</H1>


    {% for thread in threads %}
        <div class="container">
            <div class="row">
                <div class="Title col-sm-5">Title</div>
                <div class="Op col-sm-2">Op</div>
                <div class="id col-sm-2">id</div>
                <div class="votes col-md-1">votes</div>
                {% if current_user.is_authenticated %}
                    <div class="removeThread col-md-1">
                        <form method="POST"
                              action="{{ url_for('thread_remove', thread_id=thread.id) }}">
                            <input type="submit" value="Remove thread"/>
                        </form>
                    </div>
                {% endif %}

                <div class="w-100"></div>
                <div class="Title col-sm-5">{{ thread.name }}</div>
                <div class="Op col-sm-2">{{ users[thread.account_id - 1].username }}</div>
                <div class="id col-sm-2">{{ thread.id }}</div>
                <div class="votes col-md-1">{{ thread.votes }}</div>
                {% if current_user.is_authenticated %}
                    <div class="voteThread col-md1">
                        <form method="POST"
                              action="{{ url_for('thread_vote', thread_id=thread.id) }}">
                            <input type="submit" value="Vote"/>
                        </form>
                    </div>
                {% endif %}
                <div class="w-100"></div>
                <div class="Comment col-sm-9">{{ thread.comment }}</div>
                <div class="w-100"></div>
                {% for reply in replies %}

                    <div class="Reply .col-md-6.offset.md-2">
                        {% if reply.thread_id == thread.id %}
                            <div class="reply col-sm-9">Re: <br> {{ reply.reply }}</div> {% endif %}
                          <!--  <div class="replier col-sm-2">-{{ users[reply.account_id - 1].username }}</div> -->
                    </div>
                    <div class="w-100"></div>
                {% endfor %}
                <div class="w-100"></div>


                {% if current_user.is_authenticated %}

                    <div class="submitButton col-sm6">

                        <form method="POST" action="{{ url_for('reply_add', thread_id=thread.id) }}">
                            <table>
                                <tr>
                                    <td>{{ form.reply.label }}</td>
                                    <td> {{ form.reply }}</td>
                                    <td>
                                        <ul>
                                            {% for error in form.reply.errors %}
                                                <li> {{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <input type="submit" value="Submit a reply"/>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>
                {% endif %}


            </div>

            <div class="row"></div>
        </div>
        <!--


    -->
    {% endfor %}
{% endblock %}
