{% extends "layout.html" %}

{% block body %}
    <H1>Threads</H1>
    <table>
        <tr>
            <th>Subject</th>
            <th>id</th>
            <th>Votes</th>
            <th>Comment</th>
        </tr>
        {% for thread in threads %}
        <tr>
            <td>{{ thread.name }}</td>
            <td>{{ thread.id }}</td>
            <td>{{ thread.votes }}</td>
            <td> {{ thread.comment }}</td>
            <td>
                <form method="POST"
                      action="{{ url_for('thread_vote', thread_id=thread.id) }}">
                      <input type = "submit" value="Vote"/>
                </form>
            </td>
            <td>
                <form method="POST"
                      action="{{ url_for('thread_remove', thread_id=thread.id) }}">
                      <input type = "submit" value="Remove thread"/>
                </form>
            </td>
        </tr>
        {%  endfor %}
    </table>
{% endblock %}