{% extends "layout.html" %}

{% block body %}
    <H1>Threads</H1>


    {% for thread in threads %}
        <div class="container">
            <div class="row">

                {% if current_user.is_authenticated %}
                    <div class="empty col-sm-7"></div>
                    <div class="removeThread col-md-3">
                        <form method="POST"
                              action="{{ url_for('thread_remove', thread_id=thread.id) }}">
                            <input class="btn btn-primary" type="submit" value="Remove thread"/>
                        </form>
                    </div>
                    <div class="w-100"></div>

                {% endif %}

                <div class="Title col-sm-5"><b>{{ thread.name }}</b></div>
                <div class="Op col-sm-2">OP: {{ users[thread.account_id - 1].username }}</div>
                <div class="votes col-md-1">Votes: {{ thread.votes }}</div>
                {% if current_user.is_authenticated %}
                    <div class="voteThread col-md1">
                        <form method="POST"
                              action="{{ url_for('thread_vote', thread_id=thread.id) }}">
                            <input class="btn btn-primary" type="submit" value="Vote"/>
                        </form>
                    </div>
                {% endif %}
                <div class="w-100"></div>
                <div class="Comment col-sm-9">Comment: {{ thread.comment }}</div>
                <div class="w-100"></div>

                {% for reply in replies %}

                    <div class="w-100"></div>
                    <div class="Reply">
                        {% if reply.thread_id == thread.id %}
                            <div class="reply col-sm-12">Re: {{ reply.reply }} <i>-{{ users[reply.account_id - 1].username }}</i></div>
                            <div class="w-100"></div>
                        {% endif %}
                    </div>
                    <div class="w-100"></div>
                {% endfor %}
                <div class="w-100"></div>


                {% if current_user.is_authenticated %}

                    <div class="submitButton col-sm6">

                        <form method="POST" action="{{ url_for('reply_add', thread_id=thread.id) }}">
                            <table>
                                <tr>
                                    <td>{{ form.reply.label }}</td>
                                    <td> {{ form.reply }}</td>
                                    <td>
                                        <ul>
                                            {% for error in form.reply.errors %}
                                                <li> {{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <input class="btn btn-primary" type="submit" value="Submit a reply"/>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>
                {% endif %}


            </div>

            <div class="row"></div>
        </div>
        <!--


    -->
    {% endfor %}
{% endblock %}
