{% extends "layout.html" %}
{% block body %}

    <h1>Profile</h1>

    {% if current_user.is_authenticated %}


        <div class="container">
            <div class="row">
                <div class="Username col-sm-9">Current username: {{ current_user.username }}</div>
                <div class="Email col-sm-9">Current email: {{ current_user.email }}</div>
                <div class="w=100"></div>
            </div>
        </div>
        <form method="POST" action="{{ url_for('auth_profile', id = current_user.id) }}">
            <table>
                <tr>
                    <td>{{ formEmail.email.label }}</td>
                    <td> {{ formEmail.email }}</td>
                    <td> {{ formEmail.submit1 }}</td>
                    <td>
                        <ul>
                            {% for error in formEmail.email.errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                </tr>
                <td> {{ formPassword.password.label }}</td>
                <td> {{ formPassword.password }}</td>
                <td> {{ formPassword.submit2 }}</td>
                <td>
                    <ul>
                        {% for error in formPassword.password.errors %}
                            <li> {{ error }} </li>
                        {% endfor %}
                    </ul>
                </td>

            </table>
        </form>

    {% else %}
        <p>Login to see your profile!</p>
    {% endif %}

{% endblock %}